<!DOCTYPE html>
<html>
  <head>
    <title>Audionotka</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <div class="mainmenu"><a href="/">Home</a> | <a href="/about">About</a> | <a href="/howto">How did I made this?</a> | <a href="/blog">Blog</a> | <a href="/login">Login</a></div>
    <div id="content-wrapper">
      {{{body}}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
