<div class="row">
  <div class="portion whole">
    <a href="/oauth/google/request" class="ff-button shape-rounded bg-red shadow-hard"><span class="fa fa-google-plus"></span> Sign in with Google</a>
  </div>
</div>
